{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <h2>Bienvenue sur votre compte {{ app.user.firstname }} {{ app.user.lastname }}</h2>
    {{ app.user.AllergieUser }}
{% endblock %}
