{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <div id="account-setting">
        <div {{ react_component('Account') }} ></div>
        <div {{ react_component('AccountPassword') }} ></div>
    </div>
{% endblock %}
