{% extends 'base.html.twig' %}

{% block title %}Hello RecetteController!{% endblock %}

{% block body %}
    <div id="container-recette">
        <div {{ react_component('RecetteNoUser') }}"></div>
    </div>

{% endblock %}
