{% extends 'base.html.twig' %}

{% block title %}Hello MentionLegalController!{% endblock %}

{% block body %}
    <div id="cgu-ml">
        <h2 class="mb-4">Evaluation Studi</h2>
        <p class="mb-3">Les informations fournies sur ce site sont destinées à des fins éducatives et informatives uniquement. En tant que diététicienne-nutritionniste, je m'efforce de fournir des informations précises et à jour basées sur les connaissances scientifiques actuelles dans le domaine de la nutrition. Cependant, il est important de noter que ces informations ne remplacent en aucun cas un avis médical professionnel.</p>
        <p class="mb-3">Les recommandations nutritionnelles et les conseils donnés sur ce site sont généraux et peuvent ne pas convenir à chaque individu. Chaque personne a des besoins nutritionnels uniques en fonction de sa santé, de ses antécédents médicaux et de ses objectifs personnels. Par conséquent, il est fortement recommandé de consulter un professionnel de la santé qualifié, tel qu'un médecin ou un diététicien-nutritionniste, avant d'entreprendre tout changement majeur dans votre alimentation ou votre mode de vie.</p>
        <p class="mb-3">e décline toute responsabilité en cas de préjudice ou de dommage résultant de l'utilisation ou de l'interprétation des informations fournies sur ce site. Les utilisateurs sont invités à utiliser leur propre discernement et à prendre des décisions éclairées en fonction de leurs besoins individuels.</p>
        <p class="mb-3">Pour obtenir des conseils personnalisés et adaptés à votre situation, je vous encourage à prendre rendez-vous avec moi ou avec un diététicien-nutritionniste qualifié de votre choix.</p>
        <p class="mb-3">Merci de votre compréhension et de votre confiance.</p>
        <p class="mb-3"> Sandrine COUPART - Diététicienne-Nutritionniste"</p>
    </div>
{% endblock %}
