


.note {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.titleAvis {
    margin-top: 5rem;
    padding: 1rem;
    border-bottom: 1px lightgray solid;
    width: 30%;
}

.avis-item {
    display: flex;
    padding-left: 2rem;
    justify-content: center;
    width: 30%;
    flex-direction: column;
    margin-bottom: 4rem;
    border-bottom: 1px lightgray solid;
    padding: 1rem;
}

.avis-item p {
    margin-top: 1.5rem;
}

#contact  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    float: left;
}

#form-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact-container  {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgContact {
    float: left;
    width: 50%;
}

#imgContact img {
    width: 100%;
    border-radius: 10rem 8rem 16rem 6rem;
}

.description-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#title-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
}

#contact-react {
    padding: 10%;
}


.container-contact div:nth-child(6) {
    width: 80%;
    padding: 1rem;
    overflow-wrap: break-word;
}
.container-contact div:nth-child(5) {
    width: 80%;

}



#login-react {
    margin-top: 2rem;
}

#imgSignin {
    width: 40%;
    background-color: #b6ddc7;
    border-radius: 4rem 2rem 6rem 2rem;
}

#imgSignin img {
    width: 100%;
}

#react-allergie-regime {
    display: flex;

}
#react-allergie-regime div:nth-child(1) {
    float: left;
    width: 50%;
}
#react-allergie-regime div:nth-child(2) {
    float: right;
    width: 50%;
}
#label {
    padding-left: 2rem;
}

.label {
    font-size: 1.2rem !important;
    margin-bottom: 1rem !important;
}

#checkbox1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grip-gap: 2rem;
    width: 100% !important;
    border-right: 1px solid lightgray;
}
#checkbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grip-gap: 2rem;
    width: 100% !important;
    padding-left: 2rem;
}

#data-account {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grip-gap: 2rem;
    margin-bottom: 2rem;
}
#allergie-data  {
    display: flex;
    justify-content: center;
    align-items: center;
}

#allergie-data p, #regime-data p {
    margin-bottom: 0;
    margin-left: 1rem;
}

#regime-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-account {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#form-account {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

#account-title {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

#button-account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    margin-bottom: 2rem;
}

#button-account button {
    width: 40%;
    overflow-wrap: normal;
}


#form-register {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}

#register-react {
    padding: 5% 10%;
}
.register2 {
    width: 80%;
}

#title-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
}

#title-register h2 {
    margin-bottom: 2rem;
}

#button-register {
    width: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MEDIA QUERRIES PHONE */

@media (max-width: 767px) {


    #form-register {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        grid-gap: 0;
    }
    #form-register div {
        width: 100%;
    }
    #contact-container {
        display: flex;
        flex-direction: column;
    }
    #react-allergie-regime {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #react-allergie-regime div:nth-child(1), #react-allergie-regime div:nth-child(2) {
        float: none;
        width: 100%;
        padding-left: 2rem;
    }
    #react-allergie-regime div:nth-child(1){
        margin-bottom: 2rem;
    }
    .register2 > div:nth-of-type(1) {
        padding: 8px;
    }
    #button-register {
        margin-top: 2rem;
    }

    #label {
        padding-left: 0;
    }
    #checkbox1 {
        border: none;
    }
    #checkbox {
        padding-left: 0;
    }

    #contact {
        width: 100%;
        float: none;
        order: 1;
    }
    #register-react {
        padding: 10%;
    }

    #title-contact {
        margin-bottom: 2rem;
    }
    #imgContact {
        width: 60%;
        float: none;
        margin-top: 1.5rem;
        order:2;
    }
    #imgSignin {
        width: 100%;
        float: none;
        margin-top: 1.5rem;
        order:2;
    }


    #email-input, #name-input, #phone-input, #objet-input, #surname-input{
        border: 2px solid #6bffcf;
        border-radius: 0.5rem;
    }

    .register2 > div:nth-of-type(1) > div:nth-of-type(1) {
        border: 2px solid #6bffcf;
        border-radius: 0.5rem;
        padding: 0.9rem;
    }
    .description-contact div div:nth-of-type(1) {
        border: 2px solid #6bffcf;
        border-radius: 0.5rem;
    }
    .description-contact div div:nth-of-type(1) fieldset {
        border: none;
    }

    .container-contact fieldset {
        border: none;
    }

    #button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

