/* FONT */

@font-face {
     font-family: 'Hind Madurai';
    src: url("../../fonts/HindMadurai-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url("../../fonts/static/Lora-Medium.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/static/Montserrat-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-italic';
    src: url("../../fonts/static/Montserrat-LightItalic.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dancing';
    src: url("../../fonts/static/DancingScript-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hind Madurai Bold';
    src: url("../../fonts/HindMadurai-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}


/* Balise html css */

header {
    height: 3.5rem;
}

p {
    font-family: 'Hind Madurai';
}

h3,h4 {
    font-family: 'Lora';
}

h1,h2 {
    font-family: 'Montserrat';
}

body {
    margin: 0;
    padding: 0 !important;
    overflow-x: hidden;
    color: black !important;
    min-height: 100vh;
    width: 100%;
    position: relative;


}

#cgu-ml {
    padding: 8%;
}
#cgu-ml h2 {
    margin-bottom: 3rem;
}

#cgu-ml h4 {
    margin-bottom: 1rem;
}
#cgu-ml p {
    margin-bottom: 1rem;
}

#content-global {
   padding-bottom: 15%;
}


/* REACT */

.img-recette {
    width: 300px;
}



/* HOME PAGE */

#typewriter {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

h2.description {
    font-family: "Hind Madurai Bold";
    text-transform: uppercase;
}

[class*="reveal-"] {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.reveal-1 {
    transition-delay: 0.1s;
}

.reveal-2 {
    transition-delay: 0.2s;
}

.reveal-3 {
    transition-delay: 0.3s;
}
.reveal-4 {
    transition-delay: 0.4s;
}

#logo {
    height: 15rem;
    width: 100%;
    background-color: #0f3d3e;
}

#logo .container-logo {
    width: 100%;
    height: 100%;
    padding: 0 10rem;
}
#logo img {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
}

#container-home {
    padding: 0 10%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#container-presentation, #container-contact-home {
    display: flex;
    align-items: center;
    width: 100%;
}

.img-presentation {
    float: left;
    width: 50%;
}

.img-presentation img {
    width: 80%;
    border-radius: 2rem 10rem 6rem 4rem;
}

.presentation {
    float: right;
    width: 50%;
    text-align: justify;
}

.presentation p, .contact p {
    margin-top: 1rem;
    font-family: Dancing, sans-serif;
    font-size: 1.2rem;
}
.presentation h3, .contact h3 {
    font-family: Lora ;
}

.contact {
    float: left;
    width: 50%;
    margin-right: 2rem;
}

.img-contact {
    float: right;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.img-contact img {
    width: 90%;
    border-radius: 8rem 2rem 6rem 2rem;
}

.mt-contact {
    margin-top: 5rem;
}

.btn-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.btn-contact a:hover {
    outline: none;
    color: white;

}

.btn-home-contact {
    border-radius: 0.5rem;
    border: none;
    background-color: #66b2cb;
    padding: 1rem 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-home-contact svg {
    margin-right: 0.5rem;
    height: 1.2rem;
}

.btn-contact a {
    outline: none;
    text-decoration: none;
}

#offre {
    margin-top: 5rem;
}

#container-offre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    background-color: transparent;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    -moz-backdrop-filter: blur(100px);
    width: 100%;
}

.container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    flex-wrap: wrap;
}

.icon-offre {
    width: 4rem;
}

#reseaux-sociaux {
    margin-top: 5rem;
    width: 100%;
}

#reseaux-sociaux h3 {
    font-family: Lora;
}
#reseaux-sociaux p {
    margin-top: 3rem;
    width: 100%;
    padding: 0 2rem;
    text-align: justify;
    font-family: Dancing;
    font-size: 1.2rem;
}

.container-reseaux {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.reseaux-sociaux {
    width: 2rem;
    cursor: pointer;
}


/* RECETTE */

#allergieRecette {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#titleRecette {
    margin-top: 7%;
    padding: 0 8%;
}

#titleRecette h2 {
    font-family: "Hind Madurai";
}

#titleRecette p {
    text-align: justify;
    font-family: Dancing;
    font-size: 1.2rem;
}

/* RECETTE ID */

#recette-id {
    margin-top: 10rem;
    margin-bottom: 5rem;
    padding: 0 7%;
}

#container-recette-id {
    display: flex;
    justify-content: center;
}

.container-recette-description {
    float: right;
    width: 50%;
}
.container-img-recette {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: left;
    width: 50%;

}

.img-recette-id {
    width: 100%;
}

.img-recette-id img {
    width: 100%;
    border-radius: 0.5rem;
}

.times-recette {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.times-recette-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.times-recette-content img {
    width: 30px;
}

.description-recette-div {
    margin-left: 2rem;
}

.recette-titre {
    font-family: Lora;
    margin-bottom: 2rem;
}

.text-description {

    font-family: Montserrat;
}

.recette-regime {
    display: flex;
    align-content: center;
    align-items: center;
}
.recette-regime img{
    width: 30px;
}

.recette-regime p {
    margin-bottom: 0;
    margin-left: 1rem;
}

.recette-allergie {
    display: flex;
    align-items: center;
    align-content: center;
}
.recette-allergie img {
    width: 20px;
}
.recette-allergie p {
    margin-bottom: 0;
    margin-left: 1rem;
}

.recette-ingredient {
    display: flex;
    align-content: center;
    align-items: center;
}
.recette-ingredient p {
    margin-left: 1rem;
    margin-bottom: 0;
}
.recette-ingredient img {
    width: 20px;
}

.recette-etape {
    display: flex;
    align-items: center;
    align-content: center;
}
.recette-etape p {
    margin-bottom: 0;
    margin-left: 0.5rem;
}
.img-food {
    width: 30px;
}

.ml05 {
    margin-left: 0.5rem;
}

.mr05 {
    margin-right: 0.5rem;
}

.rating-recette {
    margin-top: 2rem;
}

.img-terminer {
    width: 30px;
}


#container-Recette {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crée 3 colonnes égales */
    grid-gap: 2rem; /* Espacement entre les éléments de la grille */
    padding: 0 8%;
    margin-top: 5%;

}

.containerRecette {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4rem;
    box-shadow: 15px 0px 100px rgba(5, 5, 5, 0.3);
    border-radius: 0.5rem;
}

.container-img {
    width: 100%;
    height: 300px;
}

.imgRecette {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.container-allergie {
    margin-top: 1rem;
    display: flex;
    padding: 0 2rem;

}
.container-allergie p{
    margin-right: 1rem;

}

.container-description {
    padding-top: 3rem;
    width: 100%;
}
.container-description h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.container-time {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.time img {
    margin-bottom: 1rem;
    width: 30px;
}

.allergie {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 0 2rem;
}
.allergie p {
    margin-bottom: 0;
    margin-left: 0.5rem;
}
.allergie img {
    width: 20px;
}

.padding1 {
    padding: 0 2rem;
}

#link-recette {
    color: black;
    text-decoration: none;
    outline: none;
}

.note-user {
    margin-bottom: 0;
    margin-top: 1rem;
}

.container-note {
    padding-left: 1rem;
}



.svg-user  {
    width: 20px;
    margin-right: 0.5rem;
}
#navbar-phone {
    display: none;
}





 #btn-back-home {
     display: none;
 }


 /* LOGIN */

#form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 15px 0px 100px rgba(5, 5, 5, 0.3);
    background-color: #ffffff;
    margin: 60px auto;
    background-image: url("../../Image/dietelogin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8%;


}


#form-content-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

#logo-login {
    width: 150px;
    height: auto;
    margin-bottom: 40px;
    border-radius: 15%;
}


.h2-login  {
    margin-bottom: 60px;
    text-align: center;
    font-size: 30px;
    font-family: Poppins, sans-serif;
}



.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 100%;

}







.button-1-login {

    position: relative;
    display: inline-block;
    padding: 10px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s ease-in-out;
    letter-spacing: 4px;
    margin-right: 15px;
    background-color: black;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.button-1-login:hover {

    background: #03f40f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f,
    0 0 25px #03f40f,
    0 0 50px #03f40f,
    0 0 100px #03f40f;
}

.button-1-login span {
    position: absolute;
    display: block;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

.button-1-login span:nth-child(1) {
    bottom: 0px;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 4s linear infinite;
}

a {
    text-decoration:none ;
    color: white;
}




.btn-login {
    width: 40%;
    margin-top: 2rem;
}



/* UI LOGIN */
.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: black;
    background-color: white;
    box-shadow:  2px 5px 10px rgb(5, 5, 5, 0.4);
    margin-bottom: 30px;
    width: 60%;
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: black;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: black;
}

.form-box h2 {
    margin-bottom: 2.5rem;
}



/* SIGNIN */

#form {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 8%;
    padding: 0 20%;

}
#form-content {
   border-radius: 0.5rem;
    box-shadow: 2px 5px 10px rgb(5, 5, 5);
    padding: 2rem 5rem;
    width: 90%;
    background-image: url("../../Image/dieteSignin.jpg");
    background-size: cover;

}

#form_signin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#first_content_signin {
    display: flex;
    width: 50%;
    flex-direction: column;
    float: left;
}
#second_content_signin {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    float: right;
    height: 100%;
    padding-left: 3rem;
}


.df-signin div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}
.df-signin {
    margin-top: 0.5rem;
}
#register_Allergie, #register_Regime {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#register_Allergie label, #register_Regime label {
    margin-right: 1rem;
    margin-bottom: 0;
}
#register_Allergie input, #register_Regime input {
    margin-right: 0.5rem;
}
.regime {
    margin-top: 3rem;
}

.title-inscription {
    margin-bottom: 2rem;
}



.padding-left {
    padding-left: 2.5rem;
}

.padding-right {
    padding-right: 2.5rem;
}

.btn-sign-in {
    font-size: 1.3rem;
    margin-left: 1rem;
}

.inscription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inscription a {
    color: black;
    margin-left: 1rem;
    font-size: small;
}





/* footer */

footer {
    background-color: #6c757d;
    padding:1rem ;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 8.5rem;
}
footer ul {
    margin-bottom: 0;
}

footer a:hover {
    text-decoration: none;
    color: black;
}
footer li {
    margin-bottom: 1rem;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-container {
    margin-right: 5rem;
    list-style-type: none;
}

.ul-container a {
    color: black;
}

.svg-logout {
    width: 20px;
    margin-right: 0.5rem;
}

.note > div > p.padding1 {
    margin-bottom:0;
}


#account-setting {
    display:flex;
    flex-direction:column;
    padding: 5% 10%;


}

.container-btn-admin {
    margin-top: 3rem
}

.button-admin {
    padding: 1rem 2rem;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    color: #1976d2;
    text-transform:uppercase;
    font-size:14px;
}

.button-admin:hover {
    outline: none;
    text-decoration: none;
    background-color: darkseagreen;
}

.account-title {
    margin-bottom:4rem;
}

@media (min-width: 767px) and (max-width: 1800px) {
    #container-Recette {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grip-gap: 4rem;
    }
}

#reset-password {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 5rem;
}

#form-login-reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 15px 0px 100px rgba(5, 5, 5, 0.3);
    background-color: #ffffff;
    margin: 60px auto;
    background-image: url(../../Image/dietelogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4%;
}

/* MEDIA QUERRIES PHONE */

@media (max-width: 767px) {


    #container-Recette {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grip-gap: 4rem;
        height: fit-content;
        padding-top: 2rem;
    }
    header {
        height: 5rem;
    }

    footer {
        height: 3rem;
    }

    .ul-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }

    .ul-container li {
        margin-right: 1rem;
        margin-bottom: 0;
    }

    nav {
        height: auto;
        padding: 0 !important;
    }

    nav div {
        height: 100%;
    }
    #container-img-logo img {
        width: 100%;
        height: 100%;
    }

    .navbarcontent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        background-color: #343a40;
        flex-direction: column;
    }

    .navbarcontent2 {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .navbarcontent div:nth-of-type(1) {
        height: 30%;
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    .navbarcontent div:nth-of-type(1) a {
        font-size: 0.8rem;
    }
    .svg-user {
        width: 15px;
    }

    .svg-logout {
        width: 15px;
    }

    .navbarcontent2 li {
        margin-right: 2rem;
    }
    .navbarcontent2 li a {
        font-size: 0.8rem;
    }

    .title-home {
        font-size: 1rem;
    }
    body {
        width: 100%;
        overflow-x: hidden;
    }
    a {
        font-size: 0.6rem;
    }

    #logo .container-logo {
        display: none;
    }

    #logo img {
        display: none;
    }
    #logo {
        display: none;
    }

    h2 {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 1.5rem;
    }



    #navbar-phone {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .navbar-toggler {
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    .df-home {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #typewriter {
        margin-bottom: 2rem;
    }
    #typewriter div {
        text-align: center;
    }
   #container-presentation {
       display: flex;
       flex-direction: column;
   }

    .img-presentation {
        float: none;
        width: 70%;
    }
    .img-presentation img {
        width: 100%;
    }

    .presentation {
        width: 100%;
        float: none;
        margin-top: 2rem;
    }

    #container-contact-home {
        flex-direction: column;
    }

    .img-contact {
        order: 1;
        width: 70%;
        float: none;
    }
    .contact {
        order: 2;
        width: 100%;
        float: none;
        margin-right: 0;
        margin-top: 2rem;
    }
    .contact p {
        text-align: justify;
    }

    .btn-contact {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .btn-contact a {
        font-size: 0.8rem;
    }
    #container-offre {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container-icon {
        width: 100%;
    }
    #reseaux-sociaux p {
        text-align: justify !important;
        padding: 0;
    }
    #container-home {
        margin-top: 2rem;
    }


    #form-login {
        width: 100%;
        padding: 30px 0;
    }
    #form-login-reset {
        width: 100%;
        padding: 2%;
    }
    #form-login-reset div.field {
        width:80%;
    }

    #form-login-reset .btn-login {
        width:60%;
        margin-bottom:2rem;
        font-size:13px
    }
    #reset-password h2{
        width:60%;
        text-align: center;
    }

    .container {
        padding: 0;
    }
    .form-box {
        margin-left: 0;
    }

    .pd-1 {
        padding: 0;
    }
    #form-content {
        padding: 2rem ;
        width: 100%;
    }

    .inscription {
        flex-wrap: wrap;
    }
    .form-reservation-content {
        padding: 2rem 1rem;
    }
    .btn-phone {
        text-align: center;
        margin: auto;
        margin-top: 1rem;
    }

    #recette-id {

    }

    #container-recette-id{
        flex-direction : column;
    }
    .container-img-recette {
        width:100%;
        margin-bottom:2rem;
        float:none;
    }
    .container-recette-description {
        width:100%;
        float:none;
    }

    .description-recette-div > p {
        margin-bottom: 2rem;
        text-align:justify;
    }
    .recette-etape, .recette-allergie, .recette-ingredient  {
        flex-wrap:wrap;
    }


}