


.note {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.avis-item {
    display: flex;
    padding-left: 2rem;
    justify-content: center;
    width: 30%;
    flex-direction: column;
    margin-top: 4rem;
    border-bottom: 1px lightgray solid;
    padding: 1rem;
}

.avis-item p {
    margin-top: 1.5rem;
}

#contact  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 10rem;
}



