{% extends 'base.html.twig' %}

{% block title %}Hello CguController!{% endblock %}

{% block body %}
    <div id="cgu-ml">
        <h2>Evaluation Studi</h2>
        <h4>Introduction</h4>
        <p>Les présentes Conditions Générales d'Utilisation (CGU) régissent l'utilisation du site web de Sandrine COUPART (ci-après dénommé "le site"). En accédant et en utilisant ce site, vous acceptez pleinement et sans réserve les présentes CGU. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser ce site.</p>
        <h4>Objectif du Site</h4>
        <p>Le site a pour objectif de fournir des informations générales sur la nutrition, la santé et le bien-être. Les informations et conseils disponibles sur le site sont destinés à des fins éducatives et informatives uniquement. Ils ne doivent en aucun cas remplacer l'avis et le suivi d'un professionnel de la santé qualifié.</p>
        <h4>Utilisation du Site</h4>
        <p>Vous acceptez d'utiliser le site conformément aux lois en vigueur et de manière responsable. Vous ne devez pas utiliser le site à des fins illégales, frauduleuses, diffamatoires, offensantes ou nuisibles pour les droits d'autrui.</p>
        <h4>Exactitude des informations</h4>
        <p>Nous nous efforçons de fournir des informations précises et à jour sur le site. Cependant, nous ne pouvons garantir l'exactitude, l'exhaustivité ou la pertinence de ces informations. Les informations fournies sur le site sont de nature générale et ne constituent pas un avis médical personnalisé. Il est toujours recommandé de consulter un professionnel de la santé avant de prendre des décisions concernant votre alimentation ou votre santé.</p>
        <h4>Propriété Intellectuelle</h4>
        <p>Tous les contenus présents sur le site, y compris les textes, les images, les graphiques, les logos et les vidéos, sont la propriété exclusive de REZGUI Yassine ou de leurs détenteurs de droits respectifs. Toute utilisation, reproduction ou distribution non autorisée de ces contenus est strictement interdite.</p>
        <h4>Liens Externes</h4>
        <p>Le site peut contenir des liens vers des sites web tiers. Ces liens sont fournis à titre informatif uniquement. Nous n'endossons pas le contenu de ces sites tiers et déclinons toute responsabilité quant à leur exactitude, leur fiabilité ou leur sécurité. L'accès à ces sites externes se fait à vos propres risques.</p>
        <h4>Protection des Données Personnelles</h4>
        <p>Nous attachons une grande importance à la protection de vos données personnelles. Veuillez consulter notre Politique de Confidentialité pour comprendre comment nous collectons, utilisons et protégeons vos informations.</p>
        <h4>Limitation de Responsabilité</h4>
        <p>Nous ne serons pas tenus responsables des dommages directs, indirects, spéciaux, consécutifs ou de tout autre dommage résultant de l'utilisation ou de l'impossibilité d'utiliser le site, même si nous avons été informés de la possibilité de tels dommages.</p>
        <h4>Modification des CGU</h4>
        <p>Nous nous réservons le droit de modifier les présentes CGU à tout moment. Les modifications seront effectives dès leur publication sur le site. Il est de votre responsabilité de consulter régulièrement les CGU pour prendre connaissance des éventuelles mises à jour.</p>
        <h4>Contact</h4>
        <p>Si vous avez des questions, des commentaires ou des préoccupations concernant les présentes CGU, veuillez nous contacter à [adresse e-mail/contact].

            En utilisant ce site, vous reconnaissez avoir lu, compris et accepté les présentes Conditions Générales d'Utilisation.

            Dernière mise à jour des CGU : 22/06/2023.</p>
    </div>
{% endblock %}
