{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <div id="account-setting">
        <div class="account-title">
            <h2>Page introuvable</h2>
        </div>
        <div class="mt-5">
            <a href="{{ path('app_home') }}" class="btn btn-info">Revenir à la page d'accueil</a>
        </div>
    </div>
{% endblock %}